body {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/popup_background/background.svg);
    background-size: contain;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

li {
    font-size: 20px;
    cursor: pointer;
}

li:hover {
    text-decoration: line-through;
    color: red;
}

.font {
    font-family: 'Open Sans', sans-serif;
}

.timer_container {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timer {
    font-size: 5rem;
    color: #fff;
}

.btn_container {
    position: relative;
}

.btn {
    width: 8rem;
    cursor: pointer;
}

.domain_container {
    flex: 3;
}

.disapear {
    display: none;
}

.img_text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
}

.domain_container {
    background-color: rgba(0, 0, 0, 0.269);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.domain_container::-webkit-scrollbar {
    display: none;
  }

#url_input {
    background-color: transparent;
    outline: none;
    border: 0px solid transparent;
    border-bottom: 1px solid #fff;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    margin-top: 1rem;
}

#url_input::placeholder {
    color:#fff
}

ul {

    margin-top: 0.7rem;
    color: #fff;
}

li {
    margin-top: 0.3rem;
}